/* HEADER */

header .badges{
  position: absolute;
  top: 132px;
  right: 12px;

  .badge{
    margin-bottom: 12px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;

    &:last-child{
      margin-bottom: 0;
    }
  }

}
