/* HEADER */

header .main-menu{
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: $header-main-menu-z-index;

  .item{

    &__name{
      padding: 10px 20px 34px 20px;
      font-family: Arial, sans-serif;
      font-size: 13px;
    }

    &__contents{
      display: none;
      position: fixed;
      left: 0;
      width: 100%;
      

      .contents__menu{
        background-color: #2c2a29;


        .contents-sub__menu{
          display: flex;
          padding: 20px 0;

          li{
            width: 220px;
            h4{
              padding: 3px 0 12px 0;
              font-size: 14px;
              color: #fff;
            }

            ul{
              li{
                padding: 5px 0;
                font-size: 12px;
                color: #999;
                cursor: pointer;

                &:hover{
                  color: $starbucks;
                }
              }
            }
          }
        }
      }

      .contents__texture{
        padding: 26px 0;
        font-size: 12px;
        background-image: url('/images/main_menu_pattern.jpg');

        h4{
          color: #999;
          font-weight: 700;
        }

        p{
          margin: 4px 0 14px 0;
          color: $starbucks;
        }
      }
    }

    &:hover{
      .item__name{
        border-radius: 6px 6px 0 0;
        background-color: #2c2a29;
        color: $starbucks;
      }

      .item__contents{
        display: block;
      }
    }
  }
}

