/* NOTICE .promotion */

.promotion{
  position: relative;
  overflow: hidden;

  .swiper-container{
    position: absolute;
    top: 40px;
    left: 50%;
    width: calc(819px * 3 + 10px *2);
    height: 553px;
    transform: translateX(-50%);
    overflow: hidden;

    .swiper-wrapper{
      .swiper-slide{
        position: relative;
        opacity: 0.4;
        transition: opacity 1s;


        .btn{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }

      .swiper-slide-active{
        opacity: 1;
      }
    }

    
  }

  
  .swiper-pagination{
    z-index: $swiper-pagination-z-index;
    
    &-bullet{
      background-image: url('/images/promotion_slide_pager.png');
      background-color: transparent;
      width: 12px;
      height: 12px;
      outline: none;
    }

    &-bullet-active{
      background-image: url('/images/promotion_slide_pager_on.png');
    }
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: 40px;
  }

  .swiper-prev,
  .swiper-next{
    @include flex-center;
    position: absolute;
    top: 300px;
    width: 42px;
    height: 42px;
    border: 2px solid $primary-color;
    border-radius: 50%;
    cursor: pointer;
    transition: .4s;
  }

  .swiper-prev{
    left: 50%;
    margin-left: -480px;
  }

  .swiper-next{
    right: 50%;
    margin-right: -480px;
  }
}

