/* HEADER */

  header .sub-menu{
    position: absolute;
    display: flex;
    top: 10px;
    right: 0;

    ul.menu{
      display: flex;
      align-items: center;
      font-family: Arial, sans-serif;

      li{
        position: relative;

        &::before{
          @include margin-center;
          content: "";
          width: 2px;
          height: 12px;
          background-color:#e5e5e5;
        }

        &:first-child::before{
          content: '';
          display: none;
        }
      }


      a{
        display: block;
        font-size: 12px;
        padding: 11px 16px;
        color: #656565;


        &:hover{
          color: #000;
        }
      }
  
      
    }

    .search{
      position: relative;
      height: 34px;
      

      input{
        width: 36px;
        height: 34px;
        color: #777;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: $white;
        font-size: 12px;
        transition: width .4s ease-in-out;

        &:focus{
          width: 190px;
          border-color: $starbucks;
        }
      }

      .material-icons{
        @include margin-center;
        right: 8px;
        height: 24px;
        transition: .4s ease-in-out;
      }

      &.focused{

        .material-icons{
          opacity: 0;
        }
      }
    }

  }

