/* VISUAL */

.visual{
  .title{
    position: absolute;
    top: 8.5%;
    left: 1.5%;
    z-index: $visual-title-z-index;

    .btn{
      position: relative;
      margin: 0 auto;
      top: 50px;
      &:hover{
        color: #fff;
        background-color: rgba($color: #fff, $alpha: 0.5);
      }
      // left: 173px;
    }
  }

  .spoon{
    position: absolute;
    // bottom: 0;
    // left: 275px;
    bottom: 12%;
    left: 10.6%;
  }

  .cup1.image{
    position: absolute;
    // bottom: 0;
    // right: -47px;
    bottom: 12%;
    left: 46.4%;
  }



  .cup2.image{
    position: absolute;
    // bottom: 0;
    // right: 162px;
    bottom: 9.1%;
    right: -10.5%;
  }

  .star1{
      display: block;
      position: absolute;
      top: 47.2%;
      left: 20.1%;
      width: 47px;
      height: 69px;
      background-image: url(/images/visual_star1.png);
      background-repeat: no-repeat;
      background-position: center;
  }

  .star2{
    display: block;
    position: absolute;
    top: 29.2%;
    right: 1.3%;
    width: 29px;
    height: 31px;
    background-image: url(/images/visual_star2.png);
    background-repeat: no-repeat;
    background-position: center;
  }

 

  

  .fade-in{
    opacity: 0;
  }
}


