/* COMMON */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  @include typography;
  color: $primary-color;
  height: 3000px;
}

img{
  display: block;
}

a{
  text-decoration: none;
  color: $primary-color;
}

input{
  outline: none;
}



