/* COMMON */
body{
  @include typography;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 3000px;
}

img{
  display: block;
}

a{
  text-decoration: none;
  color: $font-color;
}

input{
  outline: none;
}



