/* Header */

header{
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #c8c8c8;
  background-color: #f6f5f0;
  width: 100%;

  .logo{
    @include margin-center;
    left: 0;
    height: 75px;
  }
}

header > .inner{
  height: $header-height; 
  }

