/* Header */

header{
  border-bottom: 1px solid #c8c8c8;
  background-color: #f6f5f0;

  .logo{
    @include margin-center;
    left: 0;
    height: 75px;
  }
}

header > .inner{
  height: 120px;

    
  }

