/* REWARDS */

.rewards{
  position: relative;

  .bg-left{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #272727;
  }

  .bg-right{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: #d5c798;
  }

  .inner{
    height: 241px;
    background-image: url(/images/rewards.jpg);
  }

  .btn-group{
    @include flex-center;
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 250px;
    flex-wrap: wrap;


    .sign-up{
      margin-right: 10px;
    }

    .sign-in{
      width: 110px;
    }

    .gift{
      margin-top: 10px;
      flex-grow: 1;
    }
  }
}
