@import './constants/color.scss';
@import './constants/z-index.scss';
@import './constants/height.scss';

@import './mixin/typography.scss';
@import './mixin/margin-center.scss';
@import './mixin/flex.scss';

@import './base/inner.scss';
@import './base/reset.scss';

@import './modules/btn.scss';

@import './layouts/header.scss';
@import './layouts/visual.scss';
@import './layouts/notice.scss';
@import './layouts/rewards.scss';


@import './components/sub-menu.scss';
@import './components/main-menu.scss';
@import './components/badges.scss';
@import './components/visual-item.scss';
@import './components/notice-line.scss';
@import './components/promotion.scss';







